.leading-14{
  line-height: 3.5rem;
}

.maplemono-bold {
  font-family: 'MapleMono-BoldItalic';
}
@font-face {
  font-family: 'MapleMono-BoldItalic';
  src: url('../fonts/MapleMono-BoldItalic.ttf');
}

.nginx-help:hover .nginx-help-ctn{
  display: block;
}
.nginx-help-ctn{
  display: none;
  width: 510px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 4px;
}