.leading-14{
  line-height: 3.5rem;
}

.maplemono-bold {
  font-family: 'MapleMono-BoldItalic';
}
@font-face {
  font-family: 'MapleMono-BoldItalic';
  src: url('../fonts/MapleMono-BoldItalic.ttf');
}